<h1>New cat</h1>
<%= turbo_frame_tag 'modal' do %>
  <%= tag.div data: { controller: "turbo-modal" }, style: "padding: 30px;" do %>
    <h1 class="font-bold text-4xl">New cat</h1>
    <%= render "form", cat: @cat %>
    <%= button_tag "Close", data: { action: "turbo-modal#hideModal" }, type: "button", class: "rounded-lg py-3 px-5 bg-red-600 text-white" %>
  <% end %>
  
<% end %>

<br>

<div>
  <%= link_to "Back to cats", cats_path %>
</div>

