<h1>New cat</h1>
<%= turbo_frame_tag 'modal', class: 'relative' do %>
  <%= tag.div data: { controller: "turbo-modal" }, class: "p-8"  do %>
    <%= render "form", cat: @cat %>
    <%= button_tag "x", data: { action: "turbo-modal#hideModal" }, type: "button", class: "absolute top-2 right-2 py-3 px-5 " %>
  <% end %>
  
<% end %>

<br>

<div>
  <%= link_to "Back to cats", cats_path %>
</div>

